@model IEnumerable<QuanLySinhVien.Models.Teacher>

@if (Model != null)
{
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.LastName) @Html.DisplayFor(modelItem => item.FirstName)</td>
            <td class="text-center">@Html.DisplayFor(modelItem => item.Gender)</td>
            <td>@Html.DisplayFor(modelItem => item.DateOfBirth)</td>
            <td>@Html.DisplayFor(modelItem => item.Position)</td>
            @* <td>@Html.DisplayFor(modelItem => item.FacultyID)</td> *@
            <td>
                <a asp-action="Edit" asp-route-id="@item.TeacherID" class="btn btn-sm btn-warning me-1">Sửa</a>
                <a asp-action="Delete" asp-route-id="@item.TeacherID" class="btn btn-sm btn-danger">Xóa</a>
            </td>
        </tr>
    }
}
else
{
    <tr>
        <td colspan="6" class="text-center text-danger">Không tìm thấy dữ liệu Giáo viên.</td>
    </tr>
}